@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #d2daff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown {
  position: relative;
  margin-top: 100px;
  width: 350px;
  height: 50px;
}

.dropdown:hover::before {
  top: 23px;
  transform: rotate(-225deg);
}

.dropdown input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  font-size: larger;
  background: #eef1ff;
  color: #585a5b;
}

#menu-indicator {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  z-index: 1;
  transition: all 0.5s ease;
}

.outer-container {
  display: none;
  animation: fadeIn 1s;
}

.outer-container::before {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent #eef1ff #eef1ff;
  top: 55px;
  left: 160px;
  z-index: 5;
  transform: rotate(-225deg);
}

.option-container {
  position: absolute;
  top: 70px;
  width: 100%;
  border-radius: 7px;
  background-color: #eef1ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: hidden;
}

.option {
  padding: 15px 60px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  color: #505050;
}

.option img {
  width: 25px;
  position: absolute;
  left: 20px;
}

.option:hover {
  background: #b1b2ff;
}
